%nav{:class => "top-bar"}
  %ul
    %li
      %a{href: "#body"} Who's The One
    %li
      %a{href: "#story"} Story
    %li
      %a{href: "#sponsors"} Sponsors
    %li
      %a{href: "#vote"} Vote
    %li
      %a{href: "#comments"} Comments

%section.welcome#welcome
  .video
  .bg
  .wrapper
    .center-box
      .content
        %h1 迷失課
        %br
        %a.play{'data-reveal-id' => "playVideo"}
          .inner 看影片
        / %h2 2014台科大工程.管理.創設.電資四系聯合不分之夜!!!!
        %p 
          史上最強企劃！創設、工程、電資、管理，四系聯合，攜手打造夢幻之夜！
          %br
          現在投票預測結局，就有機會抽大獎，拿機票！

    .go-vote
      %a.vote.button.alert{href: "#vote"} 投票＆參加抽獎

.after-welcome

%section.story#story
  .wrapper

    %h1
      背景故事
      %small Story

    .img= image_tag lorem.image('300x400')

    :markdown

      「一定得有人犧牲，除了動手，沒有任何規則！接下來的課裡，唯一的目的就是<b>選出一個被犧牲的人</b>。」

      1884 年 7 月，一艘遊船在南大西洋離岸 1300 英里處失事漂流，救生船上僅有 4 名船員，船長，杜德利、大副，史蒂芬、水手，布魯克，最後是 17 歲孤兒出身的船艙服務員，理查帕克。

      帕克因飲用海水而致病，缺少淡水和食物的第20天時，杜德利在史蒂芬同意下後殺死男孩帕克，此 3 人也因此存活到救援到來。 

      此為英國史上最大爭議訴訟案，<u>女王訴杜德利與史蒂芬案</u> *(R v. Dudley and Stephens 1884)*。

      今天若換作是你，是否能為了生存，對素昧平生的他人下手？而那又是誰該犧牲？

      Who’s the better, who’s not? Who is The One? You decided. 

%section.sponsors#sponsors
  .wrapper
    %h1
      贊助廠商
      %small Sponsors

    %a.clogo{:href => '#', :target => '_blank'}
      .img= image_tag lorem.image('400x200', :text => 'LOGO')
    %a.clogo{:href => '#', :target => '_blank'}
      .img= image_tag lorem.image('400x200', :text => 'LOGO')
    %a.clogo{:href => '#', :target => '_blank'}
      .img= image_tag lorem.image('400x300', :text => 'LOGO')
    %a.clogo{:href => '#', :target => '_blank'}
      .img= image_tag lorem.image('400x200', :text => 'LOGO')
    %a.clogo{:href => '#', :target => '_blank'}
      .img= image_tag lorem.image('300x300', :text => 'LOGO')
    %a.clogo{:href => '#', :target => '_blank'}
      .img= image_tag lorem.image('400x200', :text => 'LOGO')
    /%a.clogo{:href => '#', :target => '_blank'}
    /  .img= image_tag lorem.image('400x300', :text => 'LOGO')
    /%a.clogo{:href => '#', :target => '_blank'}
    /  .img= image_tag lorem.image('400x200', :text => 'LOGO')
    /%a.clogo{:href => '#', :target => '_blank'}
    /  .img= image_tag lorem.image('400x250', :text => 'LOGO')

%section.vote#vote
  .wrapper

    %h1 
      Your Choice
      %small 做抉擇，拿大獎！

    %p 
      點擊照片，查看主角們的故事，做出您睿智的判斷，就有機會抱著大獎。
      %br 現在投下關鍵的一票，誰應該被犧牲？誰又值得獲救？
      %br 表演當天將抽出，最佳判斷獎以及最高人氣獎，各從預測正確的票數、得票最高的主角票數中，抽出大獎。時間所剩不多，時不宜遲，做出您的抉擇吧！
    
    %article.role
      %a.img{'data-reveal-id' => "r1"}= image_tag 'role/1.jpg'
      %h1 溫拿
      %p 突然鋒利的回憶，只剩眼淚，好想你，越傷人了大門取代一道牆，跌跌撞撞的走著突然好想你，遠離了世界塵垢，還騙不過自己最怕回憶，在我活的地方為什麼你。
    %article.role
      %a.img{'data-reveal-id' => "r2"}= image_tag 'role/2.jpg'
      %h1 萱姊
      %p 在我去唸書之後，那我們如何能夠再次在生活中去冒險，就算是最年輕的初階秘書都有碩士學位。
    %article.role
      %a.img{'data-reveal-id' => "r3"}= image_tag 'role/3.jpg'
      %h1 芸芸
      %p 這一次，先拋開紛擾，每一天笑臉都晴朗燦爛而直接，眼前的模樣關了燈，一直到老了難道就真的，一步步想念。
    %article.role
      %a.img{'data-reveal-id' => "r4"}= image_tag 'role/4.jpg'
      %h1 小斌
      %p 你已經決定了你已經決定了你已經決定了，感情已經用這厚明知難回頭感情已經用這厚明知難回頭我站在你左側卻像隔著銀河我站在你左側卻像隔著銀河我站在你左側。
    %article.role
      %a.img{'data-reveal-id' => "r5"}= image_tag 'role/5.jpg'
      %h1 阿風
      %p 使人們沒有年歲的感覺，教幾個人去做官一樣，忘卻了溪和水，乙接著嘴說，也就分外著急，是不容有異議，因為久慣於暗黑的眼睛，現在不高興了，便以身體的重力倒下去，反採用那四季不調和，可能成功嗎？

%section.location#location
  .wrapper

%section.comments#comments
  .wrapper
    %h1 
      留言板
      %small Comments
    .comments
      :markdown
        <div class="fb-comments" data-href="http://who.ntust.co" data-numposts="10" data-colorscheme="light"></div>


#playVideo.reveal-modal.medium{"data-reveal" => "", :style => 'padding: 0;'}
  .flex-video
    :markdown
      <iframe width="853" height="480" src="//www.youtube.com/embed/La3xojtfL_U?rel=0" frameborder="0" allowfullscreen></iframe>

#r1.reveal-modal.role.large{"data-reveal" => ""}
  .img= image_tag 'role/1.jpg'
  %h1 溫拿
  %p 溫拿並不是不懂得與人相處，只是單純地（又或許有點自傲地）認為自己不需要多餘的社交。「這對我有任何好處嗎？」每當有人親切的邀請他加入任何活動時，溫拿總這樣回應。久了人們便忽略了他的存在。
  %p 從另一個角度來看，溫拿或許是比較聰明的那一方。總是身為局外人的他，反而看到了更多事。
  %p 「人們都是自私的，到了緊要關頭只會為自己著想，看著吧，一定會有人被犧牲的，一定會…」

#r2.reveal-modal.role.large{"data-reveal" => ""}
  .img= image_tag 'role/2.jpg'
  %h1 萱姊
  %p 身為系上排球隊的隊長，總是為了球隊中的學弟妹們著想，大辣辣的個性，贏得許多人的好感，但也不可避免的招來了議論紛紛與冷嘲熱諷。
  %p 其實萱姊也知道自己不夠女人味，但又如何？比起那些做作的假清純，她寧願維持現在的樣子，不在乎頭髮上的汗水、沾滿砂土的雙手、甚至比男生更加結實的小腿，只要能坦率做自己，能打著喜愛的球就好了。
  %p 「人們都是些膚淺的垃圾，只看到光鮮亮麗的外表。但是我絕對不會認輸的，我絕對不會為了這種人犧牲，絕對不要！」

#r3.reveal-modal.role.large{"data-reveal" => ""}
  .img= image_tag 'role/3.jpg'
  %h1 芸芸
  %p 大家口中所謂回頭率100%，指的就是芸芸這樣的女生，男生私下會瘋狂傳著她Facebook，隨時關心她感情狀態，一舉一動都會成為話題。
  %p 習慣了眾人的愛戴與服侍，芸芸從一開始的謙虛，逐漸變的理所當然，甚至開始利用周遭的男生，漸漸的，芸芸的行為受到女生圈的排擠，委屈難過時，沒有半個姊妹掏能述說心事，有的只是一排的蒼蠅的問好。
  %p 外表看似自信，但心中寂寞空虛。
  %p 「他，是真正能夠聽見我心聲的人嗎？不，不過又是隻死蒼蠅罷了，那到底誰才是能了解我的人…」
  
#r4.reveal-modal.role.large{"data-reveal" => ""}
  .img= image_tag 'role/4.jpg'
  %h1 小斌
  %p 每個班上都一定會有一個諧星人物，總是說著些無關緊要的屁話，沒有惡意，只不過是想逗大家笑。小斌就是這樣的人
  %p 但也因為這樣，小斌總不被女生們認真看待，無論他多麼貼心、多麼認真聆聽對方的心事，給再多的意見，最後女生必定轉而投身那些帥哥的懷抱。
  %p 「我不能難過。」小斌這樣告訴自己，為了符合自己在大家眼中的形象，他只能強顏歡笑，若無其事的跟朋友打屁。總是傾聽別人的他，卻沒有人能分享自己的辛酸。
  %p 「不不不，不會有人對我有興趣，大家還是只在乎自己的，還是別太認真吧，大家都喜歡搞笑，搞笑就好，搞笑就好…」

#r5.reveal-modal.role.large{"data-reveal" => ""}
  .img= image_tag 'role/5.jpg'
  %h1 阿風
  %p 「大家都不願意聽別人的聲音嗎？聯合、結盟、排擠？難道是我一開始的錯嗎？」
  %p 對學習有著衝勁、對未來抱著憧憬的大學新鮮人，在舊生眼中看起來格外耀眼，但大家了解，這不過是三分鐘熱度，只要再過兩年就會步上自己的後塵了。
  %p 但阿風不這麼認為，正因為看到這些學長姐們的頹廢，他更下定決心要證明自己，也證明給他們看，自己絕對是更加優秀的人。
  %p 「憑甚麼你們耍廢，卻要我這個新生負責？整天吵來吵去那大家一起廢不就好了！不行，我絕對不能淪為那樣的人，可惡，我才不要犧牲我的堅持，那這樣，倒底是該犧牲誰…」

.form= partial 'partials/form'
